<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="false">
      <directory>src</directory>
      <directory suffix=".php">test</directory>
      <exclude>
	<directory suffix="Test.php">test</directory>
      </exclude>
    </whitelist>
  </filter>
  <php>
    <ini name="memory_limit" value="1024M" />
    <ini name="error_reporting" value="E_ALL" />
  </php>
</phpunit>
